body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  color: #66BFBF;
  font-size: 3.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

hr{
  border: dotted #40514E 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.top-container {
  background-color: #E4F9F5;
  margin: 0;
  padding-top: 100px;
  position: relative;
}

.mid-container {
  margin: 100px 0 100px 0;
  background-color: #C7FFED;
}

.bottom-container {
  margin-bottom: 0;
  margin-top: 50px;
  padding: 50px 0 20px;
  background-color: #66BFBF;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 300px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.design {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.playing-guitar {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.trekking {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.my-pic {
  width: 20%;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 30px auto 60px;
}

.butn {
  background: #11cdd4;
  background:  -webkit-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30c3ab;
  background:  -webkit-gradient(top, #30c3ab, #2bc3ad);
  background-image: -webkit-linear-gradient(top, #30c3ab, #2bc3ad);
  background-image: -moz-linear-gradient(top, #30c3ab, #2bc3ad);
  background-image: -ms-linear-gradient(top, #30c3ab, #2bc3ad);
  background-image: -o-linear-gradient(top, #30c3ab, #2bc3ad);
  background-image: linear-gradient(to bottom, #30c3ab, #2bc3ad);
  text-decoration: none;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.8rem;
  padding: 20px 0;
}
/*
.design-description{
  clear: left;
}

.skill-row-description{
  clear: right;
}

.trekking-description{
  clear: left;
}
*/
